.Card-question{
  background-color: #fff;
  color: black;
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.number-question {
  color :  #20acad;
  font-weight: bold;
}

.question {
  color: black;
  font-weight: bold;
}

.Next {
  background-color: #20acad;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  margin: auto;
}